* {
  margin: 0px; 
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box; 
}

html {
  height: 100%;
}

body {
  width: 100%; 
  height: 100%; 
  background-color: #000;
}

#wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  
  &.active {
    animation: opacity 3s forwards;
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .copy {
    width: 100%;
    position: fixed; 
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
   
    h1 {
      width: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Oswald";
      font-size: 105px;
      letter-spacing: 6px;
      line-height: 80px;
      font-weight: 300;
      color: #fff; 
      text-align: center;
      text-transform: uppercase;
      
      @include tablet {
        font-size: 80px;
        line-height: 55px;
      }

      @include mobile {
        font-size: 40px;
        line-height: 25px;
      }
    }

    h2 {
      width: 100%;
      margin: 18px 0px 0px 0px;
      padding: 0px 10px;
      font-family: "Oswald";
      font-size: 37px;
      line-height: 38px;
      font-weight: 100;
      letter-spacing: 3px;
      color: rgba(255,255,255,0.90); 
      text-align: center;

      @include tablet {
        font-size: 27px;
        line-height: 28px;
      }

      @include mobile {
        font-size: 22px;
        line-height: 23px;
      }
    }

    ul {
      padding: 0px 10px;
      text-align: center;

      li {
        margin: 40px 10px 0px 9px;
        display: inline-block;

        a {
          width: 200px;
          padding: 10px 0px;
          font-family: "Oswald";
          font-weight: 400;
          font-size: 22px;
          color: #fff; 
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          border: solid 2px #fff;
          display: block;
        }
      }

      @include mobile {
        width: 100%;
        margin: 30px 0px 0px 0px;

          li {
            width: 100%;
            margin: 15px 0px;
            display: block;

            a {
              margin: 0px auto;  
            }
          }
      }
    }
  }

  .section {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-image: url(/demo/assets/images/bg4.jpg);
    overflow: hidden;
    
    .colorwash {
      width: 100%; 
      position: absolute; 
      top: 0px; 
      bottom: 0px; z-index: 2;
    }
  }
}